<div class="container">
  <div id="show-ingredient-list">
    <h2 id="ingredient-title" class="chocolate-classical-sans">Check your ingredients</h2>

    <div class="all-ingredient", data-controller="checkbox">
      <div class="add-ingredient">
        <%= render 'form', fridge_scan: @fridge_scan %>
      </div>

      <%# Check box Select all %>
      <div class="form-check mb-3">
        <%= check_box_tag "select-all", nil, true,
            class: "form-check-input",
            data: {
              checkbox_target: "all",
              action: "checkbox#toggleAll"
            }
        %>
        <label class="form-check-label" for="select-all" data-checkbox-target="label">
          Select All Ingredients
        </label>
      </div>

      <%# Check box Select item %>
      <%= simple_form_for [@fridge_scan, @recipe],  html: { class: 'px-4 py-3' } do |f| %>
          <% @fridge_scan.ingredient_list.split(", ").each do |ingredient| %>
          <div id="all-ingredient" class="form-check mb-3">
            <%= check_box_tag "recipe[ingredient_ids][]", ingredient, true,
              id: ingredient.parameterize,
              data: { checkbox_target: "item"},
              action: "checkbox#toggleItem"
            %>
            <%= label_tag ingredient.parameterize, ingredient.capitalize, class: "form-check-label" %>
          </div>
          <% end %>

      <div class="end-page-btn">
          <%# Filter Bouton %>
          <div class="btn-group dropup">
            <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Filter
            </button>
            <div class="dropdown-menu">
                <%= f.input :difficulty, collection: [1, 2, 3], selected: 3 %>
                <%= f.input :guest, collection: (1..10), selected: 2 %>

            </div>
          </div>

          <%# Bouton Create Recipe %>
            <%= f.submit "Create Recipe", class: 'btn btn-warning', id: 'btn-create' %>
          <% end %>
        </div>
    </div>
  </div>
</div>
