<h3>Add a new ingredient :</h3>
<%= render 'form', fridge_scan: @fridge_scan %>

<h2>Ingredient list</h2>
<%# Check box Select all %>

<div data-controller="checkbox">
  <div class="form-check mb-3">
    <%= check_box_tag "select_all", nil, true,
        class: "form-check-input",
        data: {
          checkbox_target: "all",
          action: "checkbox#toggleAll"
        }
    %>
    <label class="form-check-label" for="select_all" data-checkbox-target="label">
      Select All Ingredients
    </label>
  </div>

  <ul class="list-group">
    <% @fridge_scan.ingredient_list.split(", ").each do |ingredient| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= ingredient.capitalize %>
        <%= check_box_tag "ingredient_ids[]", ingredient, true,
            class: "form-check-input",
            data: {
              checkbox_target: "item",
              action: "checkbox#toggleItem"
            }
        %>
      </li>
    <% end %>
  </ul>
</div>

<div class="btn-group dropup">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Filter
  </button>
  <div class="dropdown-menu">
    <%= simple_form_for [@fridge_scan, @recipe], html: { class: 'px-4 py-3' } do |f| %>
      <%= f.input :difficulty, collection: [1, 2, 3], selected: 3 %>
      <%= f.input :guest, collection: (1..10), selected: 2 %>
  </div>
</div>
      <%= f.submit "Create Recipe", class: 'btn btn-primary' %>
    <% end %>

    <%# <%= render 'filter', fridge_scan: @fridge_scan %>
