<h1>Show Fridge Scan</h1>

<ul>
  <% @fridge_scan.ingredient_list.split(", ").each do |ingredient| %>
    <li><%= ingredient %></li>
  <% end %>
</ul>


<%= simple_form_for [@fridge_scan, @recipe] do |f| %>
  <%= f.input :difficulty, collection: [1, 2, 3], selected: 3 %>
  <%= f.input :guest, input_html: {value: f.object.guest || '2'}  %>
  <%= f.submit %>
<% end %>
