<h3>Add a new ingredient :</h3>
<%= render 'form', fridge_scan: @fridge_scan %>

<h2>Ingredient list</h2>
<%# Check box Select all %>

<div data-controller="checkbox">
  <div class="form-check">
    <%= check_box_tag "select_all", nil, true,
        class: "form-check-input",
        data: {
          checkbox_target: "all",
          action: "checkbox#toggleAll"
        }
    %>
    <label class="form-check-label" for="select_all">Select All Ingredients</label>
  </div>

  <ul class="list-group">
    <% @fridge_scan.ingredient_list.split(", ").each do |ingredient| %>
      <li class="list-group-item">
        <div class="form-check">
          <%= check_box_tag "ingredient_ids[]", ingredient, true,
              class: "form-check-input",
              data: {
                checkbox_target: "item",
                action: "checkbox#toggleItem"
              }
          %>
          <label class="form-check-label" for="ingredient_ids_<%= ingredient.parameterize %>">
            <%= ingredient.capitalize %>
          </label>
        </div>
      </li>
    <% end %>
  </ul>
</div>


<%= simple_form_for [@fridge_scan, @recipe] do |f| %>
  <%= f.input :difficulty, collection: [1, 2, 3], selected: 3 %>
  <%= f.input :guest, collection: (1..10), selected: 2 %>
  <%= f.submit %>
<% end %>

<%# <% @recipes.each do |recipe| %>
  <%# <%= cl_image_tag(recipe.photo.key) %>
<%# <% end %>
