<div class="container">
  <div id="show-ingredient-list">

    <div data-controller="show-add-ingredient">

      <div class="add-ingredient">
        <h2 id="ingredient-title">Check your ingredients</h2>
        <%# Ajout d'un autre bouton '+' %>
        <button data-action="click->show-add-ingredient#toggle"
            data-show-add-ingredient-target="toggleButton"
            class="add-ingredient-btn">+</button>
      </div>

      <div data-show-add-ingredient-target="formContainer" style="display: none;">
        <%= render 'form', fridge_scan: @fridge_scan %>
      </div>
      
    </div>

    <%# Div de toute la page (- add new ingredient) %>
    <div class="all-ingredient", data-controller="checkbox">

      <%# Check box Select all %>
      <div class="form-check">
        <%= check_box_tag "select-all", nil, true,
            class: "form-check-input",
            data: {
              checkbox_target: "all",
              action: "checkbox#toggleAll"
            }
        %>
        <label class="form-check-label" for="select-all" data-checkbox-target="label">
          SELECT ALL INGREDIENTS
        </label>
      </div>

      <%# Check box Select item %>
      <%= simple_form_for [@fridge_scan, @recipe] do |f| %>
          <% @fridge_scan.ingredient_list.split(", ").each do |ingredient| %>
          <div id="all-ingredient" class="form-check">
            <%= check_box_tag "recipe[ingredient_ids][]", ingredient, true,
              id: ingredient.parameterize,
              data: { checkbox_target: "item"},
              action: "checkbox#toggleItem"
            %>
            <%= label_tag ingredient.parameterize, ingredient.capitalize, class: "form-check-label" %>
          </div>
          <% end %>

      <div class="bottom-buttons-container">
        <%# Filter Bouton %>
        <div class="btn-group dropup">
          <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Filters
          </button>
          <div class="dropdown-menu">
            <div class="mb-3">
              <%= f.input :difficulty,
                          collection: [['Easy', 1], ['Medium', 2], ['Hard', 3]],
                          label: 'Cooking level (max)',
                          selected: 3,
                          label_html: { id: 'difficulty_label' } %>
            </div>

            <div class="mb-3">
              <%= f.input :guest,
                          collection: (1..10),
                          label: 'Number of guests',
                          selected: 2,
                          label_html: { id: 'guest_label' } %>
            </div>
          </div>
        </div>

          <%# Bouton Create Recipe %>
            <%= f.submit "Cooking time!", class: 'btn btn-warning', id: 'btn-create' %>
          <% end %>
        </div>
    </div>
  </div>
</div>
