<h1>Show Fridge Scan</h1>

<%# <%= link-to "Add an ingredient to the list", fridge_scan_path(@fridge_scan) %>
<%# <%= render "fridge_scans/form" %>
<%# faire un form avec text et submit relié à mon new_ingredient de la méthode update du show %>

<h3>Add a new ingredient :</h3>
<%= render 'form', fridge_scan: @fridge_scan %>

<h2>Ingredient list</h2>
<ul>
  <% @fridge_scan.ingredient_list.split(", ").each do |ingredient| %>
    <li><%= ingredient %></li>
  <% end %>
</ul>


<%= simple_form_for [@fridge_scan, @recipe] do |f| %>
  <%= f.input :difficulty, collection: [1, 2, 3], selected: 3 %>
  <%= f.input :guest, input_html: {value: f.object.guest || '2'}  %>
  <%= f.submit %>
<% end %>
