<div class="pages-container">
  <h1 id="title-index">Your recipes</h1>


    <%# INDEX %>
    <ul class="recipe-grid">
      <% @recipes.each do |recipe| %>
        <li class="card-recipe">
          <%= cl_image_tag(recipe.photo.key) %>
          <div class="heart-card" data-controller="favourite">
            <% if recipe.favourite %>
              <%= button_to remove_favorite_fridge_scan_recipe_path(recipe.fridge_scan.id, recipe.id), method: :patch do%>
                <i class="fa-solid fa-heart" style="color: #ef0b39;"></i>
              <% end %>
            <% else %>
              <%= button_to add_favorite_fridge_scan_recipe_path(recipe.fridge_scan.id, recipe.id), method: :patch do%>
                <i class="fa-regular fa-heart" style="color: #000000;"></i>
              <% end %>
            <% end %>
          </div>

        <div class="card-recipe-infos">
          <div class="time-difficulty">
            <h2><%= recipe.cooking_time %></h2>
            <p><%= recipe.difficulty %></p>
          </div>
          <div class="title-card"><h2> <%= recipe.title %> </h2>
          </div>
        </div>
        </li>
      <% end %>
    </ul>
</div>
