<div class="pages-container">
  <h1 id="title-index">Your recipes</h1>


    <%# INDEX %>
    <ul class="recipe-grid">
      <% @recipes.each do |recipe| %>

          <li class="card-recipe">
            <%= link_to recipe_path(recipe) do %>
              <%= cl_image_tag(recipe.photo.key) %>
            <% end %>
            <div class="heart-card" data-controller="favourite">
              <% if recipe.favourite %>
                <%= link_to remove_favorite_recipe_path(recipe), class: "favheart",data: {turbo_method: :patch} do%>
                  <i class="fa-solid fa-heart" style="color: #ef0b39;"></i>
                <% end %>
              <% else %>
                <%= link_to add_favorite_recipe_path(recipe), class: "favheart",data: {turbo_method: :patch} do%>
                  <i class="fa-solid fa-heart" style="color: black;"></i>
                <% end %>
              <% end %>
            </div>

            <div class="card-recipe-infos">
              <div class="time-difficulty">
                <h2><%= recipe.cooking_time %></h2>
                <p><%= recipe.difficulty %></p>
              </div>
              <div class="title-card"><h2> <%= recipe.title %> </h2>
              </div>
            </div>
          </li>
      <% end %>
    </ul>
</div>
