<div class="container">
  <h1 class="title-pages"><%= @recipe.title.capitalize%></h1>

  <div class="card-show-image-ingredients">
    <%= cl_image_tag(@recipe.photo.key, width: 186, height: 277, crop: :fill, gravity: :face, class:"show-recipe-photo") %>
    <div>
      <div class="icons-show-recipe">
        <div class="icons-show">
          <p><img src="<%= asset_path('montre.png') %>" alt="montre" class="montre-icon">   <%= @recipe.cooking_time.delete('^0-9') %>'</p>
          </div>
          <div class="icons-show">
            <p><% @recipe.difficulty.times do %>
            <img src="<%= asset_path('toque.png') %>" alt="Chef Hat" class="chef-toque-icon">
            <% end %>
            </p>
          </div>
      </div>

      <div class="card-ingredients-show">
        <h3 >Ingredients:</h3>
          <ul> <% @recipe.ingredient_list.split(',').each do |ingredient| %>
          <li><%= ingredient.strip %></li>
            <% end %>
        </ul>
      </div>
    </div>
  </div>

  <h3 class="steps">Steps to be a chef :</h3>

  <ol> <% @recipe.content.split('%%').each_with_index do |step, index| %>
    <li>Step <%= index + 1 %>: <br> <%= step.split(':').drop(1).join(':') %></li> <% end %>
  </ol>

  <div class="message-congratulations">
    <div>
      <h3>CONGRATULATIONS ! <br>  YOU’RE A CHEF</h3>
    </div>
  </div>
</div>
